doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="icon", href="/favicon.png", type="image/png")
    link(rel="stylesheet", href="/css/output.css")
    
    //- Mantener tus estilos personalizados si los tienes
    link(rel="stylesheet", href="/css/styles.css")

    block styles
    //-p= "Valor de sistemaActual: " + sistema_activo

  body.bg-gray-50.min-h-screen(data-sistema=sistemaActual ? sistemaActual.id : '')
    main
      block content
    
    script(src="/js/main.js")
    
    //- Cargar JavaScript específico para vales de entrada
    if currentPage === 'entry-ticket'
      //- Ahora revisamos qué sistema está activo
      if sistema_activo === 'OFICIALIA'
        script(src="/js/oficialia-entry-ticket.js")
      else
        script(src="/js/general-entry-ticket.js")

    //- Cargar JavaScript específico para vales de entrada
    if currentPage === 'exit-ticket'
      //- Ahora revisamos qué sistema está activo
      if sistema_activo === 'OFICIALIA'
        script(src="/js/oficialia-exit-ticket.js")
      else
        script(src="/js/general-exit-ticket.js")


    
    //- Scripts adicionales específicos por página
    block scripts